OCI_CONFIG_PATH=~/.oci/config
OCI_PROFILE=DEFAULT
OCI_NAMESPACE=your_namespace
OCI_BUCKET_NAME=your_bucket_name
OCI_COMPARTMENT_ID=
OCI_PREVIEW_TEXT_LIMIT=20000
OCI_MAX_LIST_LIMIT=200

APP_AUTH_USERNAME=your_admin_username
APP_AUTH_PASSWORD=your_admin_password_here
APP_SESSION_SECRET=replace_with_a_random_long_session_secret
APP_SESSION_COOKIE_NAME=oci_bucket_browser_session
APP_UPLOAD_CHUNK_SIZE_MB=16
APP_UPLOAD_SINGLE_PUT_THRESHOLD_MB=32
APP_UPLOAD_PARALLELISM=6
APP_UPLOAD_SESSION_DIR=./tmp/upload_sessions
