OCI_CONFIG_PATH=~/.oci/config
OCI_PROFILE=DEFAULT
OCI_NAMESPACE=your_namespace
OCI_BUCKET_NAME=your_bucket_name
OCI_COMPARTMENT_ID=
OCI_PREVIEW_TEXT_LIMIT=20000
OCI_MAX_LIST_LIMIT=200

APP_AUTH_USERNAME=admin
APP_AUTH_PASSWORD=change-me
APP_SESSION_SECRET=change-this-session-secret
APP_SESSION_COOKIE_NAME=oci_bucket_browser_session
